@charset "utf-8";
body{
    background-image: url(../images/img_bg.jpg);
    background-repeat: no-repeat;
    background-position: 100% -5%;
    box-sizing: border-box;
    
}

h2{font-size: 40px;}
.wrap{position: relative;width: 1000px;text-align: center;}
.link_list{}
.link_list a{display: block;padding:12px 0;text-decoration: none;font-size: 20px;border:1px solid #079529;background-color: #02771d;color: #fff;width: 200px;margin: 15px auto;border-radius: 50px;}
.link_list a:hover{opacity: 0.5;}